.aside{
    background-color: rgb(255, 0, 0);
    height: 100px;

}
.section{
    background-color: rgb(0, 0, 255);
    height: 100px;
}
.nav{
    background-color: rgb(0, 128, 0);
}
.un, .deux, .trois{
    background-color: green;

}
.texte{
    background-color: green;
    margin: 10px;